<div>
    <h1 class="text-center">Welkom op de website van</h1>
    <span class="text-center">Fanfare Ramsel</span>
    <div>
        <p class="text-center extra-margin">Onze fanfare staat onder leiding van Stijn Aertgeerts. Onze fanfare is opgericht in 1876.</p>
        <p class="text-center">Fanfare Sint-Huibrecht Ramsel is een muziekvereniging uit Ramsel, een dorp in de Kempen. Onze fanfare bestaat uit een groep muzikanten die samen spelen op verschillende soorten blaasinstrumenten, zoals trompetten, trombones en saxofoons.</p>
        <p class="text-center">Onze fanfare heeft een lange en rijke geschiedenis in het dorp en is sinds 1876 actief. We organiseren regelmatig optredens en maken deel uit van verschillende culturele activiteiten in de gemeenschap.</p>
        <p class="text-center">Onze fanfare bestaat uit zowel professionele als amateurmuzikanten en heeft een breed repertoire aan muziekstijlen, van klassiek tot pop en rock. We spelen ook vaak traditionele Belgische volksmuziek en muziek uit andere delen van de wereld.</p>
    </div>

</div>